    <!-- Download Section -->
    <section id="media" class="content-section text-center">
        <div class="media-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        <img src="https://nogre.github.io/taichi/img/Tai-Chi-in-studio.jpg">
                    </p>
                    <p>
                        <img height="405" width="720"  src="https://nogre.github.io/taichi/img/ms-patients-exercise-with-tai-chi-RM-1440x810.jpg">
                    </p>
                </div>
            </div>
        </div>
    </section>
