    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="https://nogre.github.io/taichi/img/Tai-Chi-in-studio.jpg">
                    <img src="https://nogre.github.io/taichi/img/ms-patients-exercise-with-tai-chi-RM-1440x810.jpg">
                </div>
            </div>
        </div>
    </section>
